<?xml version="1.0"?>
<screens width="1000" height="800">
    <screen name="menu" bg="images/tile.png">
        <button x="300" y="50" width="400" height="100" img="images/title.png" screen="none" textsize="1"> </button>
        <button x="300" y="200" width="400" height="100" img="images/button.png" screen="levels" textsize="64">LEVELS</button>
        <button x="300" y="300" width="400" height="100" img="images/button.png" screen="options" textsize="64">OPTIONS</button>
        <button x="300" y="400" width="400" height="100" img="images/button.png" screen="help" textsize="64">HELP</button>
    </screen>
    <screen name="levels" bg="images/tile.png">
        <button x="50" y="50" width="50" height="50" img="images/back.png" screen="menu" textsize="1"> </button>
        <button x="50" y="150" width="100" height="100" img="images/l1.png" screen="level1" textsize="1"> </button>
        <button x="50" y="300" width="100" height="100" img="images/l2.png" screen="level2" textsize="1"> </button>
        <button x="50" y="450" width="100" height="100" img="images/l3.png" screen="level3" textsize="1"> </button>
        <button x="50" y="600" width="100" height="100" img="images/l4.png" screen="level4" textsize="1"> </button>
    </screen>
    <screen name="options" bg="images/tile.png">
        <button x="50" y="50" width="50" height="50" img="images/back.png" screen="menu" textsize="1"> </button>
    </screen>
    <screen name="help" bg="images/tile.png">
        <button x="50" y="50" width="50" height="50" img="images/back.png" screen="menu" textsize="1"> </button>
        <text x="50" y="150" align="left" r="255" g="255" b="255" size="32">To play the game, reflect light from the source into the receiver.</text>
        <text x="50" y="190" align="left" r="255" g="255" b="255" size="32">It must receive over a certain amount of light for the level to complete.</text>
        <text x="50" y="230" align="left" r="255" g="255" b="255" size="32">Have fun!</text>
    </screen>
</screens>